<html>
  <head>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/semantic.min.js"></script>

  </head>
  <body>
    <div class="ui container">
      <div class="ui grid">
        <div class="row"></div>
        <div class="row">
          <div class="one wide right floated column">
            <a th:href="@{/commandes/new}">
              <button class="ui icon  blue button ">
                <i class="plus icon"></i>
              </button>
            </a>
          </div>
        </div>
        <div class="row">


          <table class="ui table">
          <thead>
            <th>Nom </th>
            <th>Téléphone</th>
            <th>Date</th>
            <th>Numéro client</th>
            <th>Croissant</th>
            <th>Chocolatine</th>
            <th>Brioche choco</th>
          </thead>
          <tbody>

            <tr th:if="${commandes.size() == 0}" >
              <td colspan=10>Aucune entrée</td>
            </tr>
            <tr th:each="commande : ${commandes}">
              <td>
                <a th:text="${commande.nomClient}" th:href="@{/commandes/{commandeId}(commandeId=${commande.id})}">
                </a>
              </td>
              <td th:text="${commande.numeroTelephone}"></td>
              <td th:text="${commande.dateCommande}"></td>
              <td th:text="${commande.numeroClient}"></td>
              <td th:text="${commande.nbCroissant}"></td>
              <td th:text="${commande.nbChocolatine}"></td>
              <td th:text="${commande.nbBriocheChocolat}"></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </body>
</html>
