<html>
<head>
  <link rel="stylesheet" href="/css/semantic.min.css">
  <link rel="stylesheet" href="/css/calendar.min.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/semantic.min.js"></script>
  <script src="/js/calendar.min.js"></script>
</head>
<body>
    <div class="ui container">
      <form class="ui form" th:action="@{/commandes/new}" method="post" th:object="${commande}">
        <h4 class="ui dividing header">Informations générales</h4>
        <div class="fields">
          <div class="ui field">
            <label>Nom du client</label>
            <input type="text" th:field="*{nomClient}">
          </div>
          <div class="ui field">
            <label>Téléphone</label>
            <input type="text" th:field="*{numeroTelephone}">
          </div>

          <div class="ui field">
            <label>Date</label>
            <div class="ui calendar">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="AAAA-MM-JJ" th:field="*{dateCommande}">
              </div>
            </div>
          </div>

          <div class="ui field">
            <label>Numéro de client</label>
            <input type="text" th:field="*{numeroClient}">
          </div>
        </div>
        <!-- <span th:text="${produitsByCategory}"></span> -->

        <th:block
          th:each="entry : ${produitsByCategory}"
          th:with="categorie=${entry.getKey()}, produits=${entry.getValue()}">

          <h4 class="ui dividing header" th:text="${categorie}"> </h4>

          <div class="fields" th:each="item : ${commande.items}">
            <div class="two wide field">
              <div class="ui field">
                <label th:text="${produit.description}">Croissants</label>
                <input type="text" th:name="commande.items[__${produit.id}__]" th:value="${commande.getItems().get(__${produit.id}__)}">
              </div>
            </div>
          </div>


        </th:block>

        <!-- <h4 class="ui dividing header">Viennoiserie</h4>
        <div class="fields">
          <div class="two wide field">
            <div class="ui field">
              <label>Croissants</label>
              <input type="text" th:field="*{nbCroissant}">
            </div>
          </div>

        </div> -->

        <button class="ui primary button">Ajouter</button>

        <a  th:href="@{/commandes}" class="ui default button">
          Annuler
        </a>
      </form>
    </div>
    <script>
    $(document).ready(function() {
      $('.ui.calendar').calendar({
        type: 'date',
        text: {
          days: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
          months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
          monthsShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Jui', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'],
          today: 'Aujourd\'hui',
          now: 'Maintenant',
          am: 'AM',
          pm: 'PM'
        },
        formatter: {
          date: function(date, settings) {
            if (!date) return '';
            var day = (date.getDate()).toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var year = date.getFullYear();
            return `${year}-${month}-${day}`;
          }
        }
      });
    });
    </script>
</body>
</html>
